<!-- What user see when not logged in -->
<div class="containerHome" ng-show="!main.isLoggedIn">
<div class="containerHome_about">
  <h2>Retire the right way</h2>
  <p>Signup for free to plan your retirement savings and set a goal to retire comfortably.</p>
  <a href="/signup" ng-show="!main.isLoggedIn">Begin now</a>
</div>
</div>
<!-- What user see when not logged in -->


<!-- What user sees when logged in -->
<div class="page-header" ng-show="main.isLoggedIn">



<h4 class="alert alert-success">Hi, {{ main.username }} let's start planning your retirement</h4>
<br />

<!-- Calculation -->
<div class="containerCalc">
  <h4>Let's start here!</h4>
  <h5>Step 1</h5>
  <p>First let's see how much will be in your retirement account after you are done working. If the number doesn't look high enough consider adjusting your inputs to find a retirement goal on which you can live comfortably.</p>
Current amount in retirement savings<br />
<input type="number" ng-model="main.num1" placeholder="Ex: $40,000">
<br />
Number of years till you retire <br />
 <input type="number" ng-model="main.num2" placeholder="Ex: 20">
<br />
Monthly amount you will contribute each month <br />
 <input type="number" ng-model="main.num3" placeholder="Ex: $800">
<br />
<br />
<button class="btn btn-primary" ng-click ="main.calc()">Compute total</button>
<br />
<br />

<h2>{{ main.num100 | currency:"USD $":0}}</h2>
<h6>{{main.disclaimer}}</h6>
</div>
<!-- Calculation -->

<!-- Portfoios -->
<div class="containerPort">
  <h4>Examine different stock portfolios</h4>
  <h5>Step 2</h5>
  <p>
    These are different stock allocations you can use for investing and are provided by Charles Schwab. These are not recommendations. Always do research and consult with a professional if you have any questions. There are always risks involved with investing.
  </p>
  <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Portfolio Type</th>
      <th>Age</th>
      <th>Large-Cap Equity</th>
      <th>Small-Cap Equity</th>
      <th>International Equity</th>
      <th>Fixed Income</th>
      <th>Cash Investments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Aggressive</th>
      <td>None given</td>
      <td>50%</td>
      <td>20%</td>
      <td>25%</td>
      <td>0%</td>
      <td>5%</td>
    </tr>
    <tr>
      <th scope="row">Moderately Aggressive</th>
      <td>None given</td>
      <td>45%</td>
      <td>15%</td>
      <td>20%</td>
      <td>15%</td>
      <td>5%</td>
    </tr>
    <tr>
      <th scope="row">Moderate</th>
      <td>60-69</td>
      <td>35%</td>
      <td>10%</td>
      <td>15%</td>
      <td>35%</td>
      <td>5%</td>
    </tr>
    <tr>
      <th scope="row">Moderately Conservative</th>
      <td>70-79</td>
      <td>25%</td>
      <td>5%</td>
      <td>10%</td>
      <td>50%</td>
      <td>10%</td>
    </tr>
    <tr>
      <th scope="row">Conservative</th>
      <td>80+</td>
      <td>15%</td>
      <td>5%</td>
      <td>0%</td>
      <td>50%</td>
      <td>30%</td>
    </tr>
  </tbody>
</table>
</div>
<!-- Portfoios -->


<div ng-controller="financeController as ctrl"  class="savedPorts">
  <div ng-repeat="retire in ctrl.retires">
<table class="table table-bordered myRow">
    <th class="row">
    <td><strong>Portfolio Type:</strong> {{retire.portfolioType}}</td>
    <td><strong>Large Cap:</strong> {{retire.largeCap}},</td>
    <td><strong>Small Cap:</strong> {{retire.smallCap}},</td>
    <td><strong>Fixed Cap:</strong> {{retire.fixedCap}},</td>
    <td><strong>Cash Cap:</strong> {{retire.cashCap}},</td>
    <td><strong>Contribution:</strong> {{retire.contribution}},</td>
    <td><strong>Retirement Goal:</strong> {{retire.retirementGoal}}</td>
    </th>
</table>

    <button ng-click="ctrl.deleteRetires(retire)" class="btn btn-primary">Delete</button>
    <!-- edit retirement plan -->
<a href="#" ng-click="ctrl.index = $index">Edit</a>

<form ng-if="$index===ctrl.index"  ng-submit="ctrl.editRetires(retire)">
  Portfolio Type: <br /> <input type="text" ng-model="ctrl.editedPortfolioType" placeholder="Enter Portfolio Type"> <br /> <br />
  Large Cap:  <br /> <input type="text" ng-model="ctrl.editedLargeCap" placeholder="Enter Amount of Large Cap"> <br /> <br />
  Small Cap: <br />  <input type="text" ng-model="ctrl.editedSmallCap" placeholder="Enter Amount of Small Cap"> <br /> <br />
  Fixed Cap: <br />  <input type="text" ng-model="ctrl.editedFixedCap" placeholder="Enter Amount of Fixed Cap"> <br /> <br />
  Cash: <br />  <input type="text" ng-model="ctrl.editedCashCap" placeholder="Enter Amount of Cash"> <br /> <br />
  Contribution: <br />  <input type="text" ng-model="ctrl.editedContribution" placeholder="Enter Monthly Contribution"> <br /> <br />
  Retirement Goal: <br />  <input type="text" ng-model="ctrl.editedRetirementGoal" placeholder="Enter Retirement Goal"> <br /> <br />
  <input type="submit" value="Submit New Retirement Plan" class="btn btn-success">
</form>
</div>
</div>







<!-- save your information -->
<div ng-controller="financeController as ctrl" class="containerSave">




  <!-- add retirement plan -->
  <div class="container">
    <h4>Save your retirement plan</h4>
    <h5>Step 3</h5>
    <p>Based on your own personal goals you can save your information</p>
  <h5> Create A New Retirement Plan</h5>
  <form ng-submit="ctrl.createRetires();">
  Portfolio Type: <br /> <input type="text" ng-model="ctrl.portfolioType" placeholder="Ex: Moderately Aggressive"> <br /> <br />
  Large Cap:  <br /> <input type="text" ng-model="ctrl.largeCap" placeholder="Enter % of Large Cap. Ex: 45"> <br /> <br />
  Small Cap: <br />  <input type="text" ng-model="ctrl.smallCap" placeholder="Enter % of Small Cap. Ex: 15"> <br /> <br />
  Fixed Cap: <br />  <input type="text" ng-model="ctrl.fixedCap" placeholder="Enter % of Fixed Cap. Ex: 15"> <br /> <br />
  Cash: <br />  <input type="text" ng-model="ctrl.cashCap" placeholder="Enter % of Cash. Ex: 5%"> <br /> <br />
  Monthly Contribution: <br />  <input type="text" ng-model="ctrl.contribution" placeholder="Enter Monthly Contribution Ex: 1000"> <br /> <br />
  Retirement Goal: <br />  <input type="text" ng-model="ctrl.retirementGoal" placeholder="Enter Retirement Goal"> <br /> <br />
  <input type="submit" value="Save a retirement plan" class="btn btn-success" onClick="window.location.reload();">
  </form>

  </div>
</div>
</div>
