<div class="page-header" ng-show="main.isLoggedIn">
<h1>Hi, {{ main.username }} welcome to your retirement plan</h1>




<div ng-controller="financeController as ctrl">

  <div ng-repeat="retire in ctrl.retires">
    Portfolio Type: {{retire.portfolioType}},
    Large Cap: {{retire.largeCap}},
    Small Cap: {{retire.smallCap}},
    Fixed Cap: {{retire.fixedCap}},
    Cash Cap: {{retire.cashCap}},
    Contribution: {{retire.contribution}},
    Retirement Goal: {{retire.retirementGoal}}

    <button ng-click="ctrl.deleteRetires(retire)" class="btn btn-primary">Delete</button>
    <!-- edit retirement plan -->
<a href="#" ng-click="ctrl.index = $index">Edit</a>
<form ng-if="$index===ctrl.index"  ng-submit="ctrl.editRetires(retire)">
  Portfolio Type: <br /> <input type="text" ng-model="ctrl.editedPortfolioType" placeholder="Enter Portfolio Type"> <br /> <br />
  Large Cap:  <br /> <input type="text" ng-model="ctrl.editedLargeCap" placeholder="Enter Amount of Large Cap"> <br /> <br />
  Small Cap: <br />  <input type="text" ng-model="ctrl.editedSmallCap" placeholder="Enter Amount of Small Cap"> <br /> <br />
  Fixed Cap: <br />  <input type="text" ng-model="ctrl.editedFixedCap" placeholder="Enter Amount of Fixed Cap"> <br /> <br />
  Cash: <br />  <input type="text" ng-model="ctrl.editedCashCap" placeholder="Enter Amount of Cash"> <br /> <br />
  Contribution: <br />  <input type="text" ng-model="ctrl.editedContribution" placeholder="Enter Monthly Contribution"> <br /> <br />
  Retirement Goal: <br />  <input type="text" ng-model="ctrl.editedRetirementGoal" placeholder="Enter Retirement Goal"> <br /> <br />
  <input type="submit" value="Submit New Retirement Plan" class="btn btn-success">
</form>
</div>

  <!-- add retirement plan -->
  <div class="container">
  <h5> Create A New Retirement Plan</h5>
  <form ng-submit="ctrl.createRetires();">
  Portfolio Type: <br /> <input type="text" ng-model="ctrl.portfolioType" placeholder="Enter Portfolio Type"> <br /> <br />
  Large Cap:  <br /> <input type="text" ng-model="ctrl.largeCap" placeholder="Enter Amount of Large Cap"> <br /> <br />
  Small Cap: <br />  <input type="text" ng-model="ctrl.smallCap" placeholder="Enter Amount of Small Cap"> <br /> <br />
  Fixed Cap: <br />  <input type="text" ng-model="ctrl.fixedCap" placeholder="Enter Amount of Fixed Cap"> <br /> <br />
  Cash: <br />  <input type="text" ng-model="ctrl.cashCap" placeholder="Enter Amount of Cash"> <br /> <br />
  Contribution: <br />  <input type="text" ng-model="ctrl.contribution" placeholder="Enter Monthly Contribution"> <br /> <br />
  Retirement Goal: <br />  <input type="text" ng-model="ctrl.retirementGoal" placeholder="Enter Retirement Goal"> <br /> <br />
  <input type="submit" value="Submit retirement plan" class="btn btn-success">
  </form>

  </div>
</div>
</div>
